.u-background {
  background-color: #333;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .l-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
  }
  .l-header .l-header__logo {
    width: 140px;
  }
  .l-header .l-header__nav--pc {
    display: none;
  }
  .l-header .l-header__nav--sp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
  .l-header .l-header__nav--sp .l-header__logo--sp {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
  }
  .l-header .l-header__nav--sp .l-header__menu--sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .l-header .l-header__nav--sp .l-header__link--sp {
    margin-top: 5px;
    padding: 20px 50px;
    line-height: 12px;
  }
  .l-header .l-header__nav--sp .l-header__link--sp .l-header__list--sp {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.84px;
  }
  .l-header .p-hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
  .l-header .p-hamburger .p-hamburger__top {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 4px;
    transition: 0.2s;
  }
  .l-header .p-hamburger .p-hamburger__middle {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 50%;
  }
  .l-header .p-hamburger .p-hamburger__bottom {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: calc(100% - 4px);
    transition: 0.2s;
  }
  .l-header .open .p-hamburger__top {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.2s;
    background-color: #3ec6c0;
  }
  .l-header .open .p-hamburger__middle {
    background-color: transparent;
  }
  .l-header .open .p-hamburger__bottom {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.2s;
    background-color: #3ec6c0;
  }
}

@media screen and (min-width: 769px) {
  .l-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-width: 1280px;
    height: 110px;
    padding: 0 30px;
    z-index: 10;
  }
  .l-header .l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
  }
  .l-header .l-header__inner .l-header__logo {
    width: 232px;
  }
  .l-header .l-header__inner .l-header__nav--sp {
    display: none;
  }
  .l-header .l-header__inner .p-hamburger {
    display: none;
  }
  .l-header .l-header__inner .l-header__menu--pc {
    display: flex;
    align-items: center;
  }
  .l-header .l-header__inner .l-header__menu--pc .l-header__list--pc .l-header__link--pc {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
  }
  .l-header .l-header__inner .l-header__menu--pc .l-header__list--pc + .l-header__list--pc {
    margin-left: 41px;
  }
}
