@import "variable";

@media screen and (max-width: 768px) {
    .l-wrap {
        position: relative;
    }
}

@media screen and (min-width: 769px) {
    .u-hidden {
        display: none;
    }
    .l-wrap {
        position: relative;
        width: 100vw;
        min-width: 1280px;
    }
}
