html,
body,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.l-wrap {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .l-main .p-top {
    height: 663px;
    padding-top: 60px;
    background: linear-gradient(225deg, #03aadc, #3fc7c1);
  }
  .l-main .p-top .p-top__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 115px 240px 0;
    background-image: url(../images/hero-back_pc.png);
    background-repeat: no-repeat;
    background-position: top;
  }
  .l-main .p-top .p-top__inner .p-catch {
    width: 490px;
    color: #fff;
    font-weight: bold;
  }
  .l-main .p-top .p-top__inner .p-catch .p-catch__top {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 2px;
  }
  .l-main .p-top .p-top__inner .p-catch .p-catch__bottom {
    margin-top: 53px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .l-main .p-top .p-top__inner .p-catch .p-catch__middle {
    margin-top: 10px;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 7px;
  }
  .l-main .p-top .p-top__inner .p-catch .p-catch__button {
    display: block;
    width: 200px;
    padding: 15px 0;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #f94691;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  .l-main .p-top .p-top__inner .p-top__images {
    position: relative;
    width: 380px;
  }
  .l-main .p-top .p-top__inner .p-top__images .p-top__phone {
    width: 350px;
  }
  .l-main .p-top .p-top__inner .p-top__images .p-top__emblem {
    position: absolute;
    bottom: -30px;
    right: -20px;
    width: 215px;
  }
  .l-main .p-hearing .p-hearing__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: #fff;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__title {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item:nth-child(odd) {
    padding-top: 91px;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__logo {
    display: block;
    width: 240px;
    margin: 50px auto 0;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 294px;
    height: 90px;
    padding: 0 20px;
    border: 4px solid #3ec7c0;
    border-radius: 4px;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop .p-hearing__text {
    font-size: 16px;
    font-weight: 600;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop .p-hearing__arrow {
    position: absolute;
    width: 41px;
    transform: translateY(100%);
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop .p-left {
    right: 20px;
    bottom: 3px;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop .p-center {
    bottom: 0px;
  }
  .l-main .p-hearing .p-hearing__wrap .p-hearing__inner .p-hearing__item .p-hearing__pop .p-right {
    left: 20px;
    bottom: 3px;
  }
  .l-main .p-suggest .p-suggest__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: linear-gradient(225deg, #03aadc, #3fc7c1);
    position: relative;
  }
  .l-main .p-suggest .p-suggest__wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-top: 38px solid #fff;
    border-right: 73px solid transparent;
    border-left: 73px solid transparent;
  }
  .l-main .p-suggest .p-suggest__wrap .p-suggest__inner {
    width: 960px;
    margin: 0 auto;
  }
  .l-main .p-suggest .p-suggest__wrap .p-suggest__inner .p-suggest__text {
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  .l-main .p-suggest .p-suggest__wrap .p-suggest__inner .p-suggest__top {
    font-size: 33px;
    letter-spacing: 3px;
  }
  .l-main .p-suggest .p-suggest__wrap .p-suggest__inner .p-suggest__bottom {
    font-size: 45px;
  }
  .l-main .p-intro .p-intro__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: #fff;
  }
  .l-main .p-intro .p-intro__wrap .p-intro__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .l-main .p-intro .p-intro__wrap .p-intro__inner .p-intro__description {
    width: 650px;
  }
  .l-main .p-intro .p-intro__wrap .p-intro__inner .p-intro__description .p-intro__emblem {
    width: 103px;
    margin-top: 20px;
  }
  .l-main .p-intro .p-intro__wrap .p-intro__inner .p-intro__description .p-intro__top {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 600;
  }
  .l-main .p-intro .p-intro__wrap .p-intro__inner .p-intro__description .p-intro__bottom {
    margin-top: 10px;
    font-size: 15px;
    line-height: 28px;
  }
  .l-main .p-solution .p-solution__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: linear-gradient(225deg, #03aadc, #3fc7c1);
  }
  .l-main .p-solution .p-solution__wrap .p-solution__title {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner .p-solution__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 269px;
    margin-top: 40px;
    font-weight: 600;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner .p-solution__item .p-solution__icon {
    width: 114px;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner .p-solution__item .p-solution__top {
    margin-top: 20px;
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner .p-solution__item .p-solution__middle {
    margin-top: 10px;
    color: #ffe046;
    letter-spacing: 1px;
  }
  .l-main .p-solution .p-solution__wrap .p-solution__inner .p-solution__item .p-solution__bottom {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .l-main .p-process .p-process__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: #fff;
  }
  .l-main .p-process .p-process__wrap .p-process__title {
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner {
    width: 960px;
    margin: 0 auto;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 170px;
    margin-top: 70px;
    padding: 0 30px;
    border: 4px solid #3ec7c0;
    border-radius: 4px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item + .p-process__item {
    margin-top: 40px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item:last-child .p-process__pop {
    display: none;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__icon {
    width: 125px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__description {
    margin-left: 60px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__description .p-process__top {
    color: #3ec7c0;
    font-size: 26px;
    letter-spacing: 1px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__description .p-process__bottom {
    margin-top: 14px;
    font-size: 14px;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__description .p-process__bottom a {
    color: #3e9cc7;
    text-decoration: underline;
  }
  .l-main .p-process .p-process__wrap .p-process__inner .p-process__item .p-process__pop {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 64px;
    transform: translate(-50%, 100%);
  }
  .l-main .p-process .p-process__wrap .p-process__button {
    display: block;
    width: 250px;
    padding: 20px 0;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #f94691;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
  }
  .l-main .p-review .p-review__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: linear-gradient(225deg, #03aadc, #3fc7c1);
  }
  .l-main .p-review .p-review__wrap .p-review__title {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner {
    width: 960px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item + .p-review__item {
    margin-top: 80px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__image {
    width: 310px;
    border-radius: 10px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents {
    position: relative;
    width: 600px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-review__top {
    color: #0cabdb;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    letter-spacing: 1px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-review__bottom {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-review__arrow {
    position: absolute;
    top: 50%;
    width: 30px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-review__right {
    right: 1px;
    transform: translate(100%, -50%);
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-review__left {
    left: 1px;
    transform: translate(-100%, -50%);
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service {
    margin-top: 20px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__title {
    color: #0cabdb;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__wrap {
    display: flex;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__wrap .p-service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__wrap .p-service__list .p-service__item {
    display: flex;
    align-items: center;
    min-width: 40%;
    margin-top: 5px;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__wrap .p-service__list .p-service__item .u-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #0faadb;
  }
  .l-main .p-review .p-review__wrap .p-review__inner .p-review__item .p-review__contents .p-service .p-service__wrap .p-service__list .p-service__item .p-service__text {
    display: block;
    margin-left: 20px;
    font-size: 14px;
  }
  .l-main .p-course .p-course__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: #fff;
  }
  .l-main .p-course .p-course__wrap .p-course__title {
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .l-main .p-course .p-course__wrap .p-course__inner {
    width: 960px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan {
    display: flex;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-basic .p-price {
    background-color: #39c4c2;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-basic .p-plan__text {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-basic .p-plan__text::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 12px;
    height: 8px;
    margin-right: 10px;
    border-left: 2px solid #39c4c2;
    border-bottom: 2px solid #39c4c2;
    transform: rotate(-45deg);
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-basic .p-plan__list:nth-child(n + 5) .p-plan__text {
    color: #ddd;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-basic .p-plan__list:nth-child(n + 5) .p-plan__text::before {
    border-color: #ddd;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-standard .p-price {
    background-color: #10b0d6;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-standard .p-plan__text {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-standard .p-plan__text::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 12px;
    height: 8px;
    margin-right: 10px;
    border-left: 2px solid #10b0d6;
    border-bottom: 2px solid #10b0d6;
    transform: rotate(-45deg);
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-standard .p-plan__list:nth-child(n + 10) .p-plan__text {
    color: #ddd;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-standard .p-plan__list:nth-child(n + 10) .p-plan__text::before {
    border-color: #ddd;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-premium .p-price {
    background-color: #f94691;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-premium .p-plan__text {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-premium .p-plan__text::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 12px;
    height: 8px;
    margin-right: 10px;
    border-left: 2px solid #f94691;
    border-bottom: 2px solid #f94691;
    transform: rotate(-45deg);
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 180px;
    color: #fff;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-price .p-price__title {
    font-size: 20px;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-price .p-price__text {
    margin-top: 20px;
    font-size: 14px;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-price .p-price__price .p-price__big {
    font-size: 50px;
    line-height: 50px;
    vertical-align: center;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-plan__wrap {
    padding: 35px 0;
    border: 1px solid;
    border-color: transparent #ddd #ddd #ddd;
  }
  .l-main .p-course .p-course__wrap .p-course__inner .p-plan .p-plan__menu .p-plan__wrap .p-plan__list + .p-plan__list {
    margin-top: 25px;
  }
  .l-main .p-course .p-course__wrap .p-course__text {
    display: block;
    position: relative;
    width: 350px;
    margin: 70px auto 0;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
  }
  .l-main .p-course .p-course__wrap .p-course__text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: 1px solid #000;
    transform: rotate(-22deg);
  }
  .l-main .p-course .p-course__wrap .p-course__text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-right: 1px solid #000;
    transform: rotate(22deg);
  }
  .l-main .p-course .p-course__wrap .p-course__button {
    display: block;
    width: 250px;
    padding: 20px 0;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #f94691;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
  }
  .l-main .p-flow .p-flow__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: linear-gradient(225deg, #03aadc, #3fc7c1);
  }
  .l-main .p-flow .p-flow__wrap .p-flow__title {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__list .p-flow__number {
    margin-top: 25px;
    font-family: Arial;
    font-size: 40px;
    font-weight: 500;
    color: #10b0d6;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__list .p-flow__top {
    width: 130px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__list .p-flow__bottom {
    margin-top: 5px;
    width: 150px;
    font-size: 12px;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__arrow {
    width: 20px;
  }
  .l-main .p-flow .p-flow__wrap .p-flow__inner .p-flow__arrow:last-child {
    display: none;
  }
  .l-main .p-contact .p-contact__wrap {
    padding: 100px 0;
    margin: 0 auto;
    background: #fff;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__title {
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form {
    margin-top: 60px;
    width: 640px;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__input {
    width: 100%;
    margin-top: 10px;
    padding: 12px 15px;
    border: none;
    background-color: #f3f3f3;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__select {
    width: 100%;
    margin-top: 10px;
    padding: 12px 15px;
    border: none;
    background-color: #f3f3f3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__select::-ms-expand {
    display: none;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__select .u-disabled {
    display: none;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__title {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__title:first-child {
    margin-top: 0;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__textarea {
    width: 100%;
    height: 170px;
    padding: 10px 15px;
    border: none;
    background-color: #f3f3f3;
    resize: none;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__Terms {
    height: 120px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    font-size: 10px;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-check__checkBox {
    display: none;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-check__checkBox:checked + .p-check__text::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 7px;
    left: 2px;
    width: 11px;
    height: 4px;
    border-left: 2px solid #f94691;
    border-bottom: 2px solid #f94691;
    transform: rotate(-45deg);
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-check {
    width: 90px;
    margin: 20px auto 0;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-check .p-check__text {
    position: relative;
    text-align: right;
    line-height: 16px;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-check .p-check__text::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
  }
  .l-main .p-contact .p-contact__wrap .p-contact__inner .p-form .p-form__button {
    display: block;
    width: 250px;
    padding: 20px 0;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #f94691;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
  }
}

.u-background {
  background-color: #333;
  transition: .5s;
}

@media screen and (min-width: 769px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 110px;
    padding: 0 110px;
    z-index: 10;
  }
  .l-header .l-header__logo {
    width: 232px;
  }
  .l-header .l-header__menu {
    display: flex;
    align-items: center;
  }
  .l-header .l-header__menu .l-header__list .l-header__link {
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
  }
  .l-header .l-header__menu .l-header__list + .l-header__list {
    margin-left: 41px;
  }
}
